html {
    background-color: #a9a9a9;
    background-image: url("images/twitter.png");

}

body {
    background-color: blue;
    width: 800px;
    margin: 0 auto;
    height: 1000px;
}

h1 {
    font-family: 'Long Cang', cursive;
        color: #2a2a2a;
}